# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development

# Local data storage
/data/

# Vercel
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE files
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db